.content {
  .about-us {
    h1 {
      font-size: 36px !important;
      margin-top: 60px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #9b2235;
    }
    p {
      margin-top: 13px;
      margin-bottom: 70px;
      font-family: "Helvetica", "Arial", sans-serif;
      font-style: normal;

      font-size: 14px !important;
      line-height: 19px;
      text-align: left;
      letter-spacing: 0.09em;
    }
  }

  .visi-misi {
    margin-top: 20px;
    background-color: #9b2235 !important;
    padding-top: 53px;
    padding-bottom: 53px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    p {
      margin-top: 30px;
      margin-bottom: 30px;
      font-family: "Helvetica", "Arial", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      text-align: justify;
      letter-spacing: 0.09em;
    }
  }

  .program {
    h1 {
      font-size: 36px !important;
      margin-top: 60px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #9b2235;
    }

    .card2 {
      margin: 20px 20px;
      background: #ffffff;
      box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 27px 30px 40px 30px;
    }

    .judul {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 132.99%;
      /* or 24px */

      text-align: center;
      letter-spacing: 0.09em;
      text-transform: uppercase;

      margin-top: 16px;

      color: #000000;
    }

    article {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }
}

footer {
  background-color: #9b2235;
  a {
    color: aqua;
    text-decoration: none !important;
    &:hover {
      color: azure;
    }
  }
}
